{% extends "user_auth/base_user_dashboard.html" %}
{% load static %}
{% block content %}

             <!-- Begin Page Content -->
             <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">My Rent </h1>
                <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                        href="https://datatables.net">official DataTables documentation</a>.</p> -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Owner username</th>
                                        <th>District</th>
                                        <th>Division</th>
                                        <th>Rent Price</th>
                                        <th> total square foot</th>
                                        <th>washroom</th>
                                        <th>Bedroom</th>
                                        <th>Pay rent</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Owner username</th>
                                        <th>District</th>
                                        <th>Division</th>
                                        <th>Rent Price</th>
                                        <th> total square foot</th>
                                        <th>washroom</th>
                                        <th>Bedroom</th>
                                        <th>Pay rent</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for d in rent_details %}
                                    <tr>
                                        <td>{{ d.owner_name }}</td>
                                        <td>{{ d.district }}</td>
                                        <td>{{ d.division }}</td>
                                        <td>{{ d.rent_price }}</td>
                                        <td>{{ d.square_foot }}</td>
                                        <td>{{ d.washroom }}</td>
                                        <td>{{ d.bedroom }}</td>
                                        <td><a href="{% url "bill" d.id %}"><button class="btn btn-info">Pay</button></a></td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

{% endblock %}